body{
  width: 0 auto;
  height: 0 auto;
  margin: auto;
  text-align: center;
}
header{
 width: 0 auto;
 height: 0 auto;
  margin: 0 auto;
}
#featured-property{
  width: 800px;
  height: 0 auto;
  margin: 0 auto;
  text-align: center;
}
a {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background-color: gray;
}
figcaption{
  font-size: small;
  text-align: center;
}
div{
  float: left;
  width: 25%;
}